
body{
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  max-width: 1400px;
  margin: 0 auto;
}

.title{
    font-size: 40px;
    text-align: center;
    color: #3256CF;
}
.card_container{
    width: 100%;
    border: 5px solid red;
    display:flex;
    flex-flow: row wrap;
    margin: 20px;
}

.card{
    max-width: 300px;
    max-height: 600px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 10px;
}

h2{
    font-size: 25px;
}